/*
Project: Datacert - Certificação e Informação;
Author: ;
Company: Recife Sites;
Version: 1.0;
*/

@import url('reset.css');
@import url('font-awesome.css');
@import url('font-awesome.min.css');
@import url('flaticon.css');
@import url('layout.css');
@import url('responsivo.css');
